
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" href="<%= url('style-dashboard.css')%>">
</head>
<body>
    <nav>
        <h1 id = "leftHandNavHeading">dashboard</h1>
        <div id = "rightHandNavHeading">
            <a href = "/feed"><h3 class = "rightNavItem">feed</h3></a>
            <a href = ""><h3 class = "rightNavItem">followers</h3></a>
            <h3 id = "logOut" class = "rightNavItem">log out</h3>
        </div>
    </nav>


    <div id = "personalStatsBox">
        <div class = "personalStatsBoxRow"><h5>Username: <%=@current_user_account[:email]%></h5></div>
        <div class = "personalStatsBoxRow"><h5>First Name: <%=@current_user_account[:first_name]%></h5></div>
        <div class = "personalStatsBoxRow"><h5>Last Name: <%=@current_user_account[:last_name]%></h5></div>
        <div class = "personalStatsBoxRow"><h5 id = "createdDate">Member Since: <%=@current_user_account[:created_at].strftime("%D %r") %></h5></div>
        <div class = "personalStatsBoxRow"><h5 id = "lastActive">Active Since: <%=@current_user_account[:updated_at].strftime("%D %r") %></h5></div>
        <div class = "personalStatsBoxRow"><button id = "editAccountInfoButton">Edit Account Information</button></div>
    </div>

    <div id = "newPostButtonBox">
        <button id = "newPostStartButton">New Post</button>
    </div>


    <form id = "accountChangeForm">
        <div id = "accountChangeModal">
            <h6 id = "closeAccountChangeModalButton">[X]</h6>
            <h1>CHANGE ACCOUNT INFO</h1>
            <h3 id = "accountChangeModalInstructions">
                These changes cannot be undone.<br><br>
                You will need to verify these changes via email before they are implemented.<br><br>
                You will be logged out.<br><br>
                Check the box to change the value.
            </h3>
            <div id = "accountChangeFormInputs">
                <div class = "accountChangeFormInputsRow">
                    <h4>New Username:<h4>
                    <input id = "newUsernameInput" class = "newFieldInput" type = "text" disabled = "true" placeholder = "DO NOT CHANGE">
                    <input class = "accountChangeCheckBox" type = "checkbox">
                </div>
                <div class = "accountChangeFormInputsRow">
                    <h4>New First Name:<h4>
                    <input id = "newFirstNameInput" class = "newFieldInput" type = "text" disabled = "true" placeholder = "DO NOT CHANGE">
                    <input class = "accountChangeCheckBox" type = "checkbox">
                </div>
                <div class = "accountChangeFormInputsRow">
                    <h4>New Last Name:<h4>
                    <input id = "newLastNameInput" class = "newFieldInput" type = "text" disabled = "true" placeholder = "DO NOT CHANGE">
                    <input class = "accountChangeCheckBox" type = "checkbox">
                </div>
                <div class = "accountChangeFormInputsRow">
                    <h4>New Password:<h4>
                    <input id = "newPasswordInput" class = "newFieldInput" type = "text" disabled = "true" placeholder = "DO NOT CHANGE">
                    <input class = "accountChangeCheckBox" type = "checkbox">
                </div>
                <div class = "accountChangeFormInputsRow">
                    <h4>Current Password:<h4>
                    <input type = "password" id = "passwordInput" class = "newFieldInput" type = "text" placeholder = "REQUIRED">
                </div>
            </div>
            <div id = "accountChangeFormButtonWrapper">
                <button id = "accountChangeFormButton">Apply Changes</button>
                <button id = "accountDeleteFormButton">Delete Account</button>
            </div>
        </div>
    </form>

    <section id = "postMasterWrapper">
        <div id = "postSectionHeader">
            <h1 id = "postCount">posts [<%=@user_posts.size%>]</h1>
            <div id = "filterMenuWrapper">
                <p>filter by:</p>
                <div id = "filterTagsWrapper">
                    <% @hashtagsTable.each do |hashtag_record| %>
                        <div class = "hashOptionsWrapper">
                            <p><%= hashtag_record[:hashtag] %></p>
                            <input value = <%= hashtag_record[:id].to_s %> type = "checkbox">
                        </div>
                    <%end%>
                </div>
                <button id = "filterButtonGo">Go</button>
            </div>
        </div>
        <div id = "newPostEditorWrapper">
            <div class = "editorRow" id = "newPostEditorTitleRow">
                <h1 class = "editorCaption">title:</h1><input id = "newPostTitleInput" class = "editorInput">
            </div>
            <div class = "editorRow" id = "newPostEditorContentRow">
                <h1 class = "editorCaption">content:</h1>
                <textarea id = "newPostContentInput" class = "editorInput"></textarea>
            </div>
            <div class = "editorRow" id = "newPostEditorButtonsRow">
                <button id = "submitNewPostButton">submit</button>
            </div>
            <div class = "editorRow" id = "newPostEditorTagsRow">
                <h3 class = "editorCaption">add tags:</h3>
                <div id = "editorTagsWrapper">
                    <% @hashtagsTable.each do |hashtag_record| %>
                        <div class = "editorTagsOption">
                            <p><%= hashtag_record[:hashtag] %></p>
                            <input id = "postTagAdder" class = "newPostTags" value = <%= hashtag_record[:id].to_s %> type = "checkbox">
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
        <% if @user_posts.size > 0 %>
            <% @user_posts.each do |post| %>
                <div class = "postWrapper">
                    <h1><%=post[:post_title]%></h1>
                    <textarea disabled><%=post[:content]%></textarea>
                    <button id = <%= post[:id] %>d class = "deletePostButton">Delete Post</button>
                    <button id = <%= post[:id] %>u class = "updatePostButton">Edit Post</button>
                    <p>Created on: <%=post[:created_at].strftime("%D %r")%></p>
                    <% tags = [] %>
                    <% @hashtagsJoin.where("post_id = ?", post.id).each do |hashtag| %>
                        <% tags.push(@hashtagsTable.find(hashtag.hashtag_id).hashtag) %>    
                    <% end %>
                    <p id = "tagHolder">Tags: <%= tags.to_s.tr("[]", "") %> </p>

                </div>
            <% end %>
        <% end %>
    </section>

<!-- particles.js container --> 
<div id="particles-js"></div> 
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type = "text/javascript" src="<%= url('script-dashboard.js') %>"></script>
<style>
    .count-particles{display: none !important;}
</style>

</body>